body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background: #1c1c1c;
    text-align: center;
}

.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1c1c1c, #0033cc);
    color: #e0e0e0;
    padding: 50px 20px;
}

.landing-page h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.landing-page h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.landing-page h5 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.landing-page-buttons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 800px; 
    padding: 20px;
}

.landing-page-button {
    flex: 1;
    background-color: #0033cc;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px; /* Additional margin to spread out each button */
}

.landing-page-button:hover {
    background-color: #002299;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.landing-page-button:focus {
    outline: none;
}

.project-section {
    padding: 60px 30px;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    background: linear-gradient(45deg, #1c1c1c, #0033cc);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.project-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.project-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #b0b0b0;
}

.hover-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hover-card {
    flex: 1;
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 5px 5px rgba(255, 255, 255, 0.5);
}

.hover-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.hover-card p {
    font-size: 1em;
    color: #b0b0b0;
}
