<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gasly</title>
    <link rel="stylesheet" href="./static/css/home.css">
</head>
<body>
    <section class="landing-page">
        <h1>Say Hello to Gasly!</h1>
        <h2>Your Ultimate Companion for Fuel Efficiency Tracking</h2>
        <h5>Developed By Carl Dela Pena©</h5>

        <div class="landing-buttons">
            <button id="learnMoreBtn" class="landing-page-button" onclick="scrollToSection('project-section')">Learn More</button>
            <a href="/gasly">
                <button id="gaslyBtn" class="landing-page-button">Get Started!</button>
            </a>
            <a href="https://www.carjam.co.nz/" target="_blank"> 
                <button id="carJam" class="landing-page-button">Find Your Car</button>
            </a>
        </div>
        

    </section>
    
    <section id="project-section" class="project-section">
        <h1>Who's Gasly?</h1>
        <p>Gasly helps you efficiently track and analyze your fuel consumption. Log your fuel usage, monitor expenses, and generate detailed reports to optimize your gas expenses and improve efficiency. User-friendly and insightful, Gasly makes managing your fuel data effortless.</p>
        <h4>Gasly believes Smiles per Gallon is more important than Miles per Gallon</h4>
        
        <div class="hover-cards">
            <div class="hover-card">
                <h3>Monitor Fuel Expenses</h3>
                <p>Logged history of your trips to BP connect</p>
            </div>
    
            <div class="hover-card">
                <h3>Track Fuel Efficiency</h3>
                <p>Tracks the fuel efficiency reading for each journey</p>
            </div>
    
            <div class="hover-card">
                <h3>Analyse Driving Habits</h3>
                <p>Analytics to help adjust driving habits to attain optimal efficiency</p>
            </div>
        </div>
    </section>
    


    <!-- auto scroll feature -->
    <script>
        function scrollToSection(sectionId) {
            document.getElementById(sectionId).scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</body>
</html>